Repository alan-turing-institute/rctab-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, flake8, pydocstyle

black:
  name: Black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

mypy:
  name: MyPy
  entry: poetry run mypy --install-types --non-interactive
  language: system

pylint:
  name: Pylint
  entry: poetry run pylint --rcfile=.python-lint
  language: system

flake8:
  name: Flake8
  entry: poetry run flake8
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle --convention=google
  language: system

Drop support for Python 3.7
  poetry.lock
  pyproject.toml
Due: none

Update GH actions Python to 3.8
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: none

Remove unused code.
  rctab_cli/types.py
  rctab_cli/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Fix flake8 fail.
  rctab_cli/utils.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Check the versions in use against the latest published versions
  rctab_cli/cli.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add version checking instructions
  README.md
Due: none

Correct comments (change 'create' to 'add')
  tests/sub_apps/test_sub.py
Due: black, isort, mypy, pylint, flake8

Add --show-rbac option to 'sub summary' command
  rctab_cli/sub_apps/sub.py
  tests/sub_apps/test_sub.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add a sphinx docs dir
  .python-lint
  .readthedocs.yaml
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add subprojecttoctree
  docs/conf.py
Due: black, isort, mypy, pylint, flake8, pydocstyle

Roll back toctree to 5.1
  poetry.lock
  pyproject.toml
Due: none

WIP
  docs/conf.py
  docs/index.rst
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add theme and logo
  docs/Makefile
  docs/RCTab-hex.png
  docs/conf.py
  docs/index.rst
  docs/make.bat
  pyproject.toml
Due: black, isort, mypy, pylint, flake8, pydocstyle

Autogenerate docs for whole package
  docs/conf.py
  docs/index.rst
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add subprojecttoctree
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pylint, flake8, pydocstyle

Add sphinx dependencies
  .readthedocs.yaml
Due: none

Add docs build badge
  README.md
Due: none

Toctree captions
  docs/index.rst
Due: none

Hide toctrees
  docs/index.rst
Due: none

Move instructions to docs/
  .gitignore
  README.md
  docs/conf.py
  docs/content/setup.md
  docs/content/usage.md
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, pylint, flake8, pydocstyle

Update urllib3, aiohttp and pydantic to fix security warning
  poetry.lock
Due: none

Install all extras in pre-commit action
  .github/workflows/pre-commit.yml
Due: none

Remove subprojecttoctree dependency
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  flake8: any of: \.py$
  pydocstyle: any of: \.py$, but not: (?x)( tests/ )
